h1 {
    text-align: center;

    color: rgb(0, 0, 0);
    font-size: 52px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: 2px solid rgba(158, 158, 158, 0.29);
    background-color: rgb(255, 255, 255);
    outline-offset: 0px;
     margin-top: 8px;
}

img {
    display: block;
    margin: auto;
    width: 832px;
    height: 555px;
}

h2 {

    /*border-bottom: 2px solid rgba(37, 30, 30, 0.921);*/
    text-align: center;
    text-decoration: underline;
    margin-top: -10px;

}

p {
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}

a.link1 {
    margin: auto;
    display: block;
    width: 500px;
    height: 50px;
    text-align: center;
    color: rgb(27, 151, 201);
    font-size: 32px;
}

body {
        background-color: rgba(223, 223, 223, 0.402);
        height: 1700px;
    }

    .mittenbox {
  box-sizing: border-box; 
  
  width: 500px;
  height: 700px;
  
  /* Visual styling */
  background-color: #f4f4f4;
  border: 2px solid #333333;
  border-radius: 8px; /* Rounded corners */
  
  /* Spacing */
  padding: 10px;  /* Space inside the box, around text */
  margin: auto;   /* Space outside the box, pushing away neighbors */
  margin-bottom: 100px;

}

    .bottenbox {
  box-sizing: border-box; 
  
  width: auto;
  height: 200px;
  
  /* Visual styling */
  background-color: #f4f4f4;
  border: 2px solid #000000;
  
  /* Spacing */
  padding: 10px;  /* Space inside the box, around text */
  margin: auto;   /* Space outside the box, pushing away neighbors */

}