h1 {
   text-align: center;

    color: rgb(0, 0, 0);
    font-size: 52px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: 2px solid rgba(0, 0, 0, 0.615);
    outline-offset: 10px;
}

img {
    display: block;
    margin: auto;
    width: 832px;
    height: 555px;
}

h2 {

    /*border-bottom: 2px solid rgba(37, 30, 30, 0.921);*/
    text-align: center;


}


a.link1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 32px;
}

body {
        background-color: rgb(190, 190, 190);
        height: 2000px;
    }